<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Relevant Information</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-header"><h1>Twitter Relevant Information</h1></header>
    <%= yield %>
  </body>
</html>
